textarea {
	@apply text-foreground;

	border-radius: 0rem;
	border: none !important;
	padding: 1rem 1.2rem !important;
	line-height: 1.4 !important;
}

@media only screen and (max-width: 768px) {
	.react-mde {
		.mde-header {
			.mde-header-group {
				margin-left: 0 !important;
				padding: 1rem 0.5rem;
				width: 100%;
				display: flex;
				justify-content: space-between;

				&.hidden {
					visibility: hidden;
					display: none;
				}

				.mde-header-item {
					button {
						margin: 0;
						padding: 0;
						font-size: 0.85rem !important;
					}
				}
			}

			.mde-tabs {
				margin: 0rem 0rem !important;
				width: 100%;

				button {
					margin: 0 auto;
					width: 48%;
					border-bottom-right-radius: 0 !important;
					border-bottom-left-radius: 0 !important;

					&.selected {
						border-bottom-color: white !important;
						z-index: 1;
					}
				}
			}
		}
	}
}

.react-mde {
	@apply border-primary_border;
	font-size: 0.85rem;

	.grip {
		border-top: none;
		color: #399969;

		.icon {
			margin-bottom: 1rem;
		}
	}

	.mde-header {
		@apply border-b-mdeHeader bg-mdeHeader;
		border-bottom-style: solid;
		border-bottom-width: 1px;

		.mde-tabs {
			margin: 0rem 0.5rem;

			button {
				@apply bg-mdeHeader;
				font-family: Arial, Helvetica, sans-serif, 'Poppins';
				font-size: 13.5px;
				font-weight: 500;
				padding: 0.6rem 0.8rem;
				border-radius: 0.3em;
				margin-bottom: -1px;

				&.selected,
				&:focus {
					@apply bg-mdeHeaderFocus text-mdeHeaderForeground;

					padding: 0.2rem 0.8rem;
					border-style: solid;
					border-width: 1px;
					border-color: #ebf0f5;
					outline: none;
					border-bottom-color: white;
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
					margin-bottom: -1px;
				}
			}
		}

		.mde-header-group {
			margin-left: auto;

			.mde-header-item {
				button {
					color: #777b80;
					font-size: 1rem;

					&:hover,
					&:active,
					&:focus {
						color: #2e2f30;
					}
				}

				.react-mde-dropdown {
					border-style: solid;
					border-width: 1px;
					border-color: #ebf0f5;
					border-radius: 0.5rem;

					.mde-header-item {
						button {
							p {
								color: #777b80;
							}

							p:hover {
								color: #2e2f30;
							}
						}
					}
				}
			}
		}
	}

	.image-tip {
		display: none !important;
	}
}
