.mde-content {
	@apply mb-0 overflow-x-auto break-words text-sm text-foreground;

	.hide-image img {
		@apply hidden;
	}

	th,
	td {
		@apply border-1 border-solid p-2;
	}

	hr {
		margin: 1rem 0;
	}

	p,
	blockquote,
	ul,
	ol,
	dl,
	table {
		@apply text-foreground;
		line-height: 160%;
		margin: 0 0 0.5rem 0;
	}

	h1 {
		@apply mb-8 text-2xl;
	}

	h2 {
		font-size: 1.3rem;
		margin: 2rem 0 1rem 0;
	}

	h3,
	h4 {
		font-size: 1.2rem;
		margin-bottom: 0.8rem;
	}

	ul,
	ol {
		padding-left: 2rem;

		li {
			padding-left: 0.8rem;
			margin-bottom: 1.2rem;
		}

		li > input {
			display: none;
		}
	}

	a {
		@apply text-link;

		&:hover {
			text-decoration: none;
		}
	}

	blockquote {
		@apply border-l-gray-400;

		margin: 1rem 0;
		padding: 0 1em;
		border-left-style: solid;
		border-left-width: 0.25rem;
		font-size: 0.9rem;
		& > :first-child {
			margin-top: 0;
		}
		& > :last-child {
			margin-bottom: 0;
		}
	}

	img {
		max-width: 100%;
		margin: 2rem 0;
	}

	pre {
		overflow: auto;
		border-radius: 0.3rem;
	}

	code {
		@apply m-0 text-xs;

		border-radius: 3px;
		white-space: pre-wrap;
		&::before,
		&::after {
			letter-spacing: -0.2em;
		}

		padding-left: 4px;
		padding-right: 4px;
	}
}

.mde-preview-content {
	font-size: 14px;
	margin-bottom: 0;
	overflow-wrap: break-word;
	overflow-x: auto;

	.hide-image img {
		display: none !important;
	}

	th,
	td {
		border: 1px solid;
		padding: 0.5rem;
	}

	hr {
		margin: 1rem 0;
	}

	p,
	blockquote,
	ul,
	ol,
	dl,
	table {
		line-height: 160%;
		margin: 0 0 0.5rem 0;
		color: var(--bodyBlue) !important;
	}

	h1 {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	h2 {
		font-size: 1.3rem;
		margin: 2rem 0 1rem 0;
	}

	h3,
	h4 {
		font-size: 1.2rem;
		margin-bottom: 0.8rem;
	}

	ul,
	ol {
		padding-left: 2rem;

		li {
			padding-left: 0.8rem;
			margin-bottom: 1.2rem;
		}

		li > input {
			display: none;
		}
	}

	a {
		color: pink_primary !important;

		&:hover {
			text-decoration: none;
			color: pink_secondary;
		}
	}

	blockquote {
		margin: 1rem 0;
		padding: 0 1em;
		color: grey_primary;
		border-left-style: solid;
		border-left-width: 0.25rem;
		border-left-color: grey_primary;
		font-size: 0.9rem;
		& > :first-child {
			margin-top: 0;
		}
		& > :last-child {
			margin-bottom: 0;
		}
	}

	img {
		max-width: 100%;
		margin: 2rem 0;
	}

	pre {
		background-color: grey_light;
		overflow: auto;
		border-radius: 0.3rem;
	}

	code {
		font-size: 12px;
		margin: 0;
		border-radius: 3px;
		white-space: pre-wrap;
		&::before,
		&::after {
			letter-spacing: -0.2em;
		}

		padding-left: 4px;
		padding-right: 4px;
		background-color: #fbfbfd;
	}

	h1,
	h2,
	h3,
	h4 {
		border-bottom: none;
	}

	h1,
	h2 {
		font-size: 1.3rem;
		font-weight: 400;
	}

	h3,
	h4 {
		font-size: 1.2rem;
		font-weight: 500;
	}

	h3 {
		font-family: font_default !important;
	}
}

.mde-autocomplete-content {
	margin-top: 4px !important;
	color: var(--bodyBlue);
	font-weight: 700;

	mark {
		margin-top: -3px;
		margin-right: -2px;
		font-weight: 500;
		color: #485f7d !important;
		background: none !important;
	}

	&:hover {
		color: pink_primary !important;
	}
}
