.markdownEditor {
	textarea {
		border-radius: 0rem;
		border: none !important;
		color: #000000 !important;
		padding: 1rem 1.2rem !important;
		line-height: 1.4 !important;
	}

	@media only screen and (max-width: 768px) {
		.react-mde {
			.mde-header {
				.mde-header-group {
					margin-left: 0 !important;
					padding: 1rem 0.5rem;
					width: 100%;
					display: flex;
					justify-content: space-between;

					&.hidden {
						visibility: hidden;
						display: none;
					}

					.mde-header-item {
						button {
							margin: 0;
							padding: 0;
							font-size: 0.85rem !important;
						}
					}
				}

				.mde-tabs {
					margin: 0rem 0rem !important;
					width: 100%;

					button {
						margin: 0 auto;
						width: 48%;
						border-bottom-right-radius: 0 !important;
						border-bottom-left-radius: 0 !important;

						&.selected {
							border-bottom-color: white !important;
							z-index: 1;
						}
					}
				}
			}
		}
	}

	.react-mde {
		border-color: #ebf0f5;
		font-size: 0.85rem;

		.grip {
			border-top: none;
			color: #399969;

			.icon {
				margin-bottom: 1rem;
			}
		}

		.mde-header {
			background-color: #eaeef0;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: #ebf0f5;

			.mde-tabs {
				margin: 0rem 0.5rem;

				button {
					font-family: Arial, Helvetica, sans-serif, 'Poppins';
					font-size: 13.5px;
					font-weight: 500;
					padding: 0.6rem 0.8rem;
					color: #000000;
					background: #eaeef0;
					border-radius: 0.3em;
					border-bottom-color: #ebf0f5;
					margin-bottom: -1px;

					&.selected,
					&:focus {
						background: white;
						color: #2e2f30;
						padding: 0.2rem 0.8rem;
						border-style: solid;
						border-width: 1px;
						border-color: #ebf0f5;
						outline: none;
						border-bottom-color: white;
						border-bottom-right-radius: 0;
						border-bottom-left-radius: 0;
						margin-bottom: -1px;
					}

					&:hover {
						color: #2e2f30;
					}
				}
			}

			.mde-header-group {
				margin-left: auto;

				.mde-header-item {
					button {
						color: #777b80;
						font-size: 1rem;

						&:hover,
						&:active,
						&:focus {
							color: #2e2f30;
						}
					}

					.react-mde-dropdown {
						border-style: solid;
						border-width: 1px;
						border-color: #ebf0f5;
						border-radius: 0.5rem;

						.mde-header-item {
							button {
								p {
									color: #777b80;
								}

								p:hover {
									color: #2e2f30;
								}
							}
						}
					}
				}
			}
		}

		.image-tip {
			display: none !important;
		}
	}
}

.markdownDisplay {
	&,
	&.mde-preview-content {
		font-size: 14px;
		margin-bottom: 0;
		overflow-wrap: break-word;
		overflow-x: auto;

		.hide-image img {
			display: none !important;
		}

		th,
		td {
			border: 1px solid;
			padding: 0.5rem;
		}

		hr {
			margin: 1rem 0;
		}

		p,
		blockquote,
		ul,
		ol,
		dl,
		table {
			line-height: 160%;
			margin: 0 0 0.5rem 0;
			color: var(--bodyBlue) !important;
		}

		h1 {
			font-size: 1.5rem;
			margin-bottom: 2rem;
		}

		h2 {
			font-size: 1.3rem;
			margin: 2rem 0 1rem 0;
		}

		h3,
		h4 {
			font-size: 1.2rem;
			margin-bottom: 0.8rem;
		}

		ul,
		ol {
			padding-left: 2rem;

			li {
				padding-left: 0.8rem;
				margin-bottom: 1.2rem;
			}

			li > input {
				display: none;
			}
		}

		a {
			color: pink_primary !important;

			&:hover {
				text-decoration: none;
				color: pink_secondary;
			}
		}

		blockquote {
			margin: 1rem 0;
			padding: 0 1em;
			color: grey_primary;
			border-left-style: solid;
			border-left-width: 0.25rem;
			border-left-color: grey_primary;
			font-size: 0.9rem;
			& > :first-child {
				margin-top: 0;
			}
			& > :last-child {
				margin-bottom: 0;
			}
		}

		img {
			max-width: 100%;
			margin: 2rem 0;
		}

		pre {
			background-color: grey_light;
			overflow: auto;
			border-radius: 0.3rem;
		}

		code {
			font-size: 12px;
			margin: 0;
			border-radius: 3px;
			white-space: pre-wrap;
			&::before,
			&::after {
				letter-spacing: -0.2em;
			}

			padding-left: 4px;
			padding-right: 4px;
			background-color: #fbfbfd;
		}
	}

	&.mde-preview-content {
		h1,
		h2,
		h3,
		h4 {
			border-bottom: none;
		}

		h1,
		h2 {
			font-size: 1.3rem;
			font-weight: 400;
		}

		h3,
		h4 {
			font-size: 1.2rem;
			font-weight: 500;
		}

		h3 {
			font-family: font_default !important;
		}
	}

	&.mde-autocomplete-content {
		margin-top: 4px !important;
		color: var(--bodyBlue);
		font-weight: 700;

		mark {
			margin-top: -3px;
			margin-right: -2px;
			font-weight: 500;
			color: #485f7d !important;
			background: none !important;
		}

		&:hover {
			color: pink_primary !important;
		}
	}
}
